{
	"openapi": "3.0.0",
	"info": {
		"title": "Family Management API",
		"description": "API de gestion des familles avec hiérarchie géographique à 3 niveaux (Ville > Secteur > Quartier)\n\n## 🔐 Authentification\n\nAucune authentification requise actuellement. L'API est accessible publiquement via l'URL de déploiement Google Apps Script.\n\n## 🌍 Intégration GEO API v5.0\n\nCette API s'appuie sur la GEO API v5.0 pour la résolution de localisation hiérarchique.\n\n## 📊 Hiérarchie Géographique\n\n- **Ville**: Niveau supérieur (ex: Nantes)\n- **Secteur**: Niveau intermédiaire (ex: Secteur Nord)\n- **Quartier**: Niveau inférieur (ex: Centre Ville)\n\n## 📈 Criticité\n\nLes familles sont évaluées sur une échelle de 0 à 5:\n- 0: Non évalué\n- 1-2: Faible/Modérée\n- 3: Moyenne\n- 4-5: Haute/Urgente",
		"version": "2.0.0",
		"contact": {
			"name": "API Support",
			"email": "support@example.com"
		}
	},
	"servers": [
		{
			"url": "https://script.google.com/macros/s/{DEPLOYMENT_ID}/exec",
			"description": "Production server",
			"variables": {
				"DEPLOYMENT_ID": {
					"default": "YOUR_DEPLOYMENT_ID",
					"description": "Google Apps Script deployment ID"
				}
			}
		}
	],
	"tags": [
		{
			"name": "Familles",
			"description": "Opérations sur les familles validées"
		},
		{
			"name": "Filtres Géographiques",
			"description": "Filtrage par localisation (Ville, Secteur, Quartier)"
		},
		{
			"name": "Filtres Spécifiques",
			"description": "Filtres par criticité, aide, mobilité"
		},
		{
			"name": "Utilitaires",
			"description": "Endpoints de test et maintenance"
		}
	],
	"paths": {
		"/": {
			"get": {
				"summary": "Endpoint principal",
				"description": "Point d'entrée de l'API - utilisez le paramètre 'action' pour spécifier l'opération",
				"parameters": [
					{
						"name": "action",
						"in": "query",
						"required": true,
						"description": "Action à effectuer",
						"schema": {
							"type": "string",
							"enum": [
								"ping",
								"allfamilies",
								"familybyid",
								"familyaddressbyid",
								"familieszakatfitr",
								"familiessadaka",
								"familiesbyquartier",
								"familiesbysecteur",
								"familiesbyville",
								"familiessedeplace",
								"familiesbycriticite"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Succès"
					},
					"400": {
						"description": "Requête invalide",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"Family": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "Identifiant unique de la famille",
						"example": "12345"
					},
					"nom": {
						"type": "string",
						"description": "Nom de famille",
						"example": "Dupont"
					},
					"prenom": {
						"type": "string",
						"description": "Prénom de la personne de contact",
						"example": "Jean"
					},
					"zakatElFitr": {
						"type": "boolean",
						"description": "Éligible à la Zakat El Fitr",
						"example": true
					},
					"sadaqa": {
						"type": "boolean",
						"description": "Éligible à la Sadaqa",
						"example": true
					},
					"nombreAdulte": {
						"type": "integer",
						"description": "Nombre d'adultes dans le foyer",
						"example": 2,
						"minimum": 0
					},
					"nombreEnfant": {
						"type": "integer",
						"description": "Nombre d'enfants dans le foyer",
						"example": 3,
						"minimum": 0
					},
					"adresse": {
						"type": "string",
						"description": "Adresse complète formatée",
						"example": "10 rue de la Paix, 44000, Nantes"
					},
					"idVille": {
						"type": "string",
						"nullable": true,
						"description": "Identifiant de la ville (GEO API v5.0)",
						"example": "1"
					},
					"idSecteur": {
						"type": "string",
						"nullable": true,
						"description": "Identifiant du secteur (GEO API v5.0)",
						"example": "SEC_1"
					},
					"idQuartier": {
						"type": "string",
						"nullable": true,
						"description": "Identifiant du quartier (GEO API v5.0)",
						"example": "3"
					},
					"seDeplace": {
						"type": "boolean",
						"description": "La famille peut se déplacer",
						"example": false
					},
					"email": {
						"type": "string",
						"format": "email",
						"nullable": true,
						"description": "Email de contact",
						"example": "jean.dupont@example.com"
					},
					"telephone": {
						"type": "string",
						"description": "Téléphone principal (format: +33 (0) X XX XX XX XX)",
						"example": "+33 (0) 6 12 34 56 78"
					},
					"telephoneBis": {
						"type": "string",
						"nullable": true,
						"description": "Téléphone secondaire",
						"example": "+33 (0) 6 98 76 54 32"
					},
					"circonstances": {
						"type": "string",
						"nullable": true,
						"description": "Description de la situation actuelle"
					},
					"ressentit": {
						"type": "string",
						"nullable": true,
						"description": "Notes ou observations"
					},
					"specificites": {
						"type": "string",
						"nullable": true,
						"description": "Besoins particuliers, allergies, etc."
					},
					"criticite": {
						"type": "integer",
						"description": "Niveau de criticité (0=non évalué, 5=urgente)",
						"minimum": 0,
						"maximum": 5,
						"example": 3
					},
					"distance": {
						"type": "number",
						"nullable": true,
						"description": "Distance en km depuis le point de référence (si orderBy=distance)",
						"example": 5.2
					}
				},
				"required": [
					"id",
					"nom",
					"prenom",
					"nombreAdulte",
					"nombreEnfant",
					"telephone",
					"criticite"
				]
			},
			"FamilyAddress": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"example": "12345"
					},
					"nom": {
						"type": "string",
						"example": "Dupont"
					},
					"prenom": {
						"type": "string",
						"example": "Jean"
					},
					"adresse": {
						"type": "string",
						"example": "10 rue de la Paix, 44000, Nantes"
					},
					"idVille": {
						"type": "string",
						"nullable": true,
						"example": "1"
					},
					"idSecteur": {
						"type": "string",
						"nullable": true,
						"example": "SEC_1"
					},
					"idQuartier": {
						"type": "string",
						"nullable": true,
						"example": "3"
					},
					"criticite": {
						"type": "integer",
						"example": 3
					}
				}
			},
			"FamilyListResponse": {
				"type": "object",
				"properties": {
					"count": {
						"type": "integer",
						"description": "Nombre de familles retournées",
						"example": 150
					},
					"orderBy": {
						"type": "string",
						"description": "Méthode de tri appliquée",
						"enum": [
							"none",
							"criticite",
							"distance"
						],
						"example": "criticite"
					},
					"families": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Family"
						}
					}
				}
			},
			"FilteredFamilyListResponse": {
				"type": "object",
				"properties": {
					"villeId": {
						"type": "string",
						"description": "ID de la ville filtrée (si applicable)"
					},
					"secteurId": {
						"type": "string",
						"description": "ID du secteur filtré (si applicable)"
					},
					"quartierId": {
						"type": "string",
						"description": "ID du quartier filtré (si applicable)"
					},
					"criticite": {
						"type": "integer",
						"description": "Niveau de criticité filtré (si applicable)"
					},
					"count": {
						"type": "integer",
						"description": "Nombre de familles retournées"
					},
					"families": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Family"
						}
					}
				}
			},
			"PingResponse": {
				"type": "object",
				"properties": {
					"status": {
						"type": "string",
						"example": "ok"
					},
					"message": {
						"type": "string",
						"example": "Famille API operational"
					},
					"version": {
						"type": "string",
						"example": "2.0"
					},
					"geoApiVersion": {
						"type": "string",
						"example": "5.0"
					},
					"timestamp": {
						"type": "string",
						"format": "date-time",
						"example": "2025-11-04T10:30:00.000Z"
					}
				}
			},
			"Error": {
				"type": "object",
				"properties": {
					"error": {
						"type": "string",
						"description": "Message d'erreur",
						"example": "Missing action parameter"
					}
				}
			}
		},
		"parameters": {
			"ActionParam": {
				"name": "action",
				"in": "query",
				"required": true,
				"description": "Action à effectuer",
				"schema": {
					"type": "string"
				}
			},
			"OrderByParam": {
				"name": "orderBy",
				"in": "query",
				"required": false,
				"description": "Méthode de tri",
				"schema": {
					"type": "string",
					"enum": [
						"criticite",
						"distance"
					]
				}
			},
			"LatParam": {
				"name": "lat",
				"in": "query",
				"required": false,
				"description": "Latitude du point de référence (requis si orderBy=distance)",
				"schema": {
					"type": "number",
					"format": "double",
					"example": 47.2173
				}
			},
			"LngParam": {
				"name": "lng",
				"in": "query",
				"required": false,
				"description": "Longitude du point de référence (requis si orderBy=distance)",
				"schema": {
					"type": "number",
					"format": "double",
					"example": -1.5536
				}
			}
		}
	}
}